.red { 
    background-color: red;
    height: 200px;
    width: 200px;
    position: relative;
    top: 150px;
    left: 450px;
    border-top-left-radius: 500px;
} 

.yellow {
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 158px;
    left: 666px;
    border-top-right-radius: 500px;
} 

.blue { 
    background-color: blue;
    height: 200px;
    width: 200px;
    position: relative;
    top: 156px;
    left: 450px;
    border-bottom-left-radius: 500px;
} 

.green { 
    background-color: green;
    height: 200px;
    width: 200px;
    position: relative;
    top: -44px;
    left: 659px;
    border-bottom-right-radius: 500px;
} 